body {
background-color: #F5F5F5;
}

.titre-list {					/* Contient le titre de la to-do list*/
	border-radius: 25px 0px;
	display: flex;
	justify-content: center;
	font-family: Open sans;
	font-size: 2em;
	background-color:#99cc00 ;
	font-weight: bold;
	border: 4px outset;
}

.add-filter {					/* Englobe : tâches / bouton / selecteur de filtres; */
	font-family: Open sans;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	display: flex;
	justify-content: center;
	border-radius: 25px 0px;
	background-color: #99cc00;
	border: 4px outset;
}

#myInput {                     /* Ajouter une tâche */
	border-style: solid;
	font-family: Open sans;
	font-size: 1.7em;
	margin-left: 1em;
	border: ridge #ffb31a;
		margin-bottom: 6px;
}


button {						/* Boutons crées par la fonction sur la liste */
	font-size: 0.8em;
	background-color: #FCE863;
	margin-bottom: 6px;
	border-style: solid;
	border-color: black;

    }

.bouton {						/* Bouton ajouter */
	border-style: solid;
	font-family: Open sans;
	margin-top: 0em;
	margin-bottom: : 0px;
	margin-right: 1em;	
	margin-left: 1px;
	font-size: 1.7em;
	border-radius: 5px;
	border: ridge #ffb31a;
	color: #331a00;
	border: ridge #ffb31a;
	background-color: #ffb31a;
}

#select {						/* Selecteur de filtres */
	border-style: solid;
	border-color: black;
	font-family: Open sans;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 6px;
	font-size: 1.7em;
	border-radius: 5px;
	border: ridge #ffb31a;
	background-color: #ffb31a;
	color: #331a00;
}


.list-taches {
	border-style: solid;
	font-family: Open sans;
	border-radius: 25px 0px;
	background-color: #99cc00;
	border: 4px outset;


}

.list-taches ol {
	border-style: solid;
	border-radius: 2em;
	margin:2em 2em 2em 2em;
	font-family: Open sans;
	border: 2px double  #222211;
	background-color: #F5F5F5;

}

li {
	font-size: 2em;
	margin : 1em 1em 1em 0em;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}